.view-container {
    display: flex;
    height: 92vh;
}

.chat-list {
    border-right: thin solid  rgb(57, 56, 56);
    /* border-style: solid;
    border-width: thin;
    border-color: rgb(198, 189, 189); */
}

.chat-list { 
    width: 25%;
}

.chat-view {
    width: 75%;
}

.footer-container {
    height: 4vh;
    display: flex;
    justify-content: space-around;
    padding: 0.9rem 3rem;
   
}

.option{
    display: flex;
}
.option-name {
    font-size: 15px;
    margin-top:7px;
}
.logo { 
    height: 30px;
    width: 30px;
    color: rgb(232, 225, 225);
    margin-right: 8px;
}

/* Chat List */
.chat-list-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 18px 20px;
}

.chat-list-header .text {
    font-weight: bold;
    padding-top: 2px;
}

.chat-list-header .logo {
    height: 25px;
    width: 25px;
    color: rgb(20, 94, 243);
}


.search-bar {
    display: flex;
    margin: 0px 19px 15px;
    width: 21vw;
    padding: 1px 9px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: rgb(39, 39, 38);
}

.search-bar .logo {
    height: 18px;
    width: 18px;
    color: rgb(94, 94, 92);
    padding-top: 5px;;
}

.search-bar input {
    width: 95%;
    padding: 4px 2px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: rgb(39, 39, 38);
    color: white;
    border:none;
}

.search-bar input:focus {
    border:none;
    outline:none;
}


.friend-lists {
    display: flex;
    padding: 1px 10px;
    margin-bottom: 10px;

}

.friend-lists div {
    width: 3vw;
}

.room {
    margin-right: 2em;
}

.friend-lists .image {
    background-color: rgb(57, 56, 56);
    height: 55px;
    width: 55px;
    margin-bottom: 5px;
}

.friend-lists .logo {
    height: 23px;
    width: 23px;
    margin: 16px 16px;
}

.friend-lists .list-text {
    padding: 1px 2px;
    text-align: center;
    font-size: 13px;
}

.friend-lists .avatar {
  padding: 9px 3px; 
}
