.chat-list-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 18px 20px;
}

.chat-list-header .text {
    font-weight: bold;
    padding-top: 2px;
}

.chat-list-header .logo {
    height: 25px;
    width: 25px;
    color: rgb(20, 94, 243);
}


.search-bar {
    display: flex;
    margin: 0px 19px 10px;
    width: 21vw;
    padding: 1px 9px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: rgb(39, 39, 38);
}

.search-bar .logo {
    height: 18px;
    width: 18px;
    color: rgb(94, 94, 92);
    padding-top: 5px;;
}

.search-bar input {
    width: 95%;
    padding: 4px 2px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: rgb(39, 39, 38);
    color: white;
    border:none;
}

.search-bar input:focus {
    border:none;
    outline:none;
}
